

<div class="container">
    <div class="row">
        <div class="col-10">
            <h4 class="card-header">Manage Roles</h4>
        </div>
        <div class="col-2">
            <a asp-action="Create" class="btn btn-primary mt-2">Create New</a>
        </div>
    </div>
    <hr />
    <div class="row">

    </div>
</div>
